.card-grid{
    display: grid;
    grid-template-columns: repeat(12,100px);
    gap: 4px;
    padding: 4px;
}
.card{
    width: 88%;
    height: 150px;
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
}
.open{
    background-color: #fff;
}