.rating{
    display:flex;
    margin: auto;
    align-items: center;
    justify-content: center;
  align-items: center;
 
}
.fill{
    display: flex;
    cursor: pointer;
    color: gold;
}
.unfill{
    display: inline-block;
    cursor: pointer;
    color: #ccc
}